{% extends "layout.html" %}
{% block head %}
    <meta charset='utf-8' />
    <link href="{{ url_for('static', filename='fullcalendar/packages/core/main.css')}}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.css')}}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar/packages/list/main.css')}}" rel='stylesheet' />
	<link href="{{ url_for('static', filename='fullcalendar/packages/interaction/main.css')}}" rel='stylesheet' />

    <script src="{{ url_for('static', filename='fullcalendar/packages/core/main.js')}}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/daygrid/main.js')}}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/list/main.js')}}"></script>
	<script src="{{ url_for('static', filename='fullcalendar/packages/interaction/main.js')}}"></script>


{% endblock head %}

{% block content %}
<script>

		//initialize calendar aspects
		document.addEventListener('DOMContentLoaded', function() {
		  let draggableEl = document.getElementById('mydraggable');
		  var calendarEl = document.getElementById('calendar');
	
		  var calendar = new FullCalendar.Calendar(calendarEl, {
			plugins: [ 'dayGrid' ],
			
			themeSystem: 'bootstrap',
	
			
	
			//sizing specs
			height: 650,
			//contentHeight: 600,
			aspectRatio: 1.3,
			
			//custom buttons
			customButtons: {
				homeButton: {
				  text: 'Home',
				  click: function() {
					location.href = "{{ url_for('main.home') }}";
					}
				}
			},
			  
			// toolbars (headers, footers, sidebars)
			header: { left:'title', center:'', right:'today prev,next' },
			weekNumbers:  true,
			weekLabel: "Week",
			footer: { left:'homeButton' },
	
	
			// views
			defaultView: 'dayGridMonth',
	
			views: {
				  dayGrid: {
				  // options apply to dayGridMonth, dayGridWeek, and dayGridDay views
				  },
				  timeGrid: {
				  // options apply to timeGridWeek and timeGridDay views
				  },
				  week: {
				  // options apply to dayGridWeek and timeGridWeek views
				  },
				  day: {
				  // options apply to dayGridDay and timeGridDay views
				  }
				},
				
				//Navigation links and their functions
				navLinks: true,
				navLinkDayClick: function(date, jsEvent) {
					alert('hi'); // for now it just says hi
				},
			
				//events! All sample fields are included
				events:[
					//example
					{
						title: 'Example',
						start: '2019-07-23',
						end: '2019-07-25',
						//url: (can use url_for to redirect to event page)
	
						//allDay: true //or false
						//startTime: '00:00'
						//endTime: '12:00:00'
						//editable: true,
						//color: black
						// className: (takes in string field, determines which HTML class is applied to the event)
					}
				],
				
				droppable: true
	
				//now-indicator (only works for Timeline or timegrid view)
			  /* nowIndicator: ture */
		  });
		  calendar.render();
		  new Draggable(draggableEl);
		});
	</script>
<br>
  <body>
    <div id='calendar'></div>
  </body>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
